html {
    overflow: scroll;
}
.main-viewport {
    padding: 5px 5px;

}

.simple-button {
    background-color: white;
    text-transform: none;
    padding: 0em 1.2em;
    border: solid 1px #cccccc;
    color: grey;
    border-radius: 5px;
}
.md-button.simple-button:hover {
    background-color: #eeeeee;
}
.simple-button-primary {
    text-transform: none;
    padding: 0 1.2em;
    border: solid 1px #cccccc;
    color: white;
    background-color: #316AC5;
    border-radius: 5px;
}
.md-button.simple-button-primary:hover {
    background-color: #5F82D9;
}
#auth-form {
    background-color: white;
    color: black;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.nav {
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    text-transform: uppercase;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: large;
}

.nav-but {
    /*border: 1px solid #333; !* Рамка *!*/
    display: inline-block;
    padding: 5px 15px; /* Поля */
    /*text-decoration: none; !* Убираем подчёркивание *!*/
    color: #000; /* Цвет текста */
}
.nav-but:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    /*border: solid 1px #bdbdbd;*/
    color: #a00;
}
.header-title {
    font-family: "Baskerville Old Face";
    font-size: xx-large;
    /*min-height: 50px;*/
}
.main-view {
    /*background-color: #FF9933;*/
    /*padding: 5px 15px;*/
}

.sidebar-container-title {
    text-transform: uppercase;

}

.main-view-here {
    background-color: white;

}
.sidebar-container {
    border-radius: 3px;
    background-color: #F6F6F6;
    min-height: 200px;
    /*border:solid 1px;*/
    padding: 5px 10px;
    margin-left: 5px;
    margin-bottom: 10px;


}
.ws-body {
    text-indent: 1.5em;
    text-align: justify;
}

.header {
    background-color: #D6D6D6;
    color: black;
    padding: 1em 0em;
}

body {
    background-color: white;
}