<md-toolbar class="tb-my-styles" ">
    <div class="md-toolbar-tools">
        <div class="md-headline header-title" flex>Центр правовых консультаций</div>
        <!--<md-button ui-sref="search">Поиск-->
            <!--<md-icon md-svg-icon="./img/ic_search_24px.svg"></md-icon>-->
        <!--</md-button>-->
        <!--<md-button ui-sref="ask">Задать вопрос <md-icon md-svg-icon="./img/ic_help_outline_24px.svg"></md-icon></md-button>-->
        <md-button ng-click="auth()" class="simple-button">Войти
            <!--<md-icon md-svg-icon="./img/ic_assignment_ind_48px.svg">-->
            </md-icon>
        </md-button>
        <md-button ng-click="register()" class="simple-button-primary">Регистрация
            <!--<md-icon md-svg-icon="./img/ic_assignment_ind_48px.svg">-->
            </md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-toolbar class="md-menu-toolbar beeline-tb" style="min-height: 0">
    <div layout="row">
        <div flex="20"></div>
        <div flex>
            <md-menu-bar>
                <button ui-sref="index" class="menu-but">Главная</button>
                <button class="menu-but" ui-sref="people">
                    Участники
                </button>
                <button ui-sref="library" class="menu-but">
                    Библиотека
                </button>

                <button class="menu-but" ui-sref="ratings">
                    Рейтинги
                </button>
                <button class="menu-but">Справка</button>
            </md-menu-bar>
        </div>
        <div flex="20"></div>
    </div>


</md-toolbar>