<!DOCTYPE html>
<html lang="en" ng-app="legal">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Центр правовых консультаций</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/md-data-table.min.css">
    <link rel="stylesheet" href="css/ng-animation.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div ng-controller="ToolbarController as tbc">
    <md-toolbar class="md-hue-2" style="background-color: black">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Главная" ng-click="tbc.toggleMenu()">
                <md-icon md-svg-icon="./img/ic_menu_24px.svg"></md-icon>
            </md-button>
            <h5 flex>Центр правовых консультаций</h5>
            <md-button>Поиск
                <md-icon md-svg-icon="./img/ic_search_24px.svg"></md-icon>
            </md-button>
            <md-button>Задать вопрос <md-icon md-svg-icon="./img/ic_help_outline_24px.svg"></md-icon></md-button>
            <md-button ng-click="tbc.auth()">Войти
                <md-icon md-svg-icon="./img/ic_assignment_ind_48px.svg">
                </md-icon>
            </md-button>
            <md-button ng-click="tbc.register()">Регистрация
                <md-icon md-svg-icon="./img/ic_assignment_ind_48px.svg">
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" layout-align="center center">

        <div flex="10"></div>
        <div flex>
            <md-toolbar class="md-menu-toolbar" style="min-height: 0">
                <div>
                    <md-menu-bar>
                        <md-menu>
                            <button ui-sref="index">Главная</button>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                Вопросы
                            </button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-menu>
                                        <md-button ng-click="$mdMenu.open()">Новый</md-button>
                                        <md-menu-content>
                                            <md-menu-item><md-button>Вопрос</md-button></md-menu-item>
                                            <md-menu-item><md-button>Загрузить файл</md-button></md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button>
                                        Правовая информация
                                    </md-button>
                                </md-menu-item>

                                <md-menu-divider></md-menu-divider>
                                <md-menu-item><md-button>О рейтингах...</md-button></md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ui-sref="library">
                                Библиотека
                            </button>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                Рейтинги
                            </button>
                            <md-menu-content>
                                <md-menu-item><md-button>Отвечающих</md-button></md-menu-item>
                                <md-menu-item><md-button>Вопросов</md-button></md-menu-item>
                                <md-menu-item><md-button>Скачиваний ресурсов</md-button></md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item><md-button>О рейтингах...</md-button></md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button>Справка</button>
                        </md-menu>
                    </md-menu-bar>
                </div>
            </md-toolbar>
        </div>
        <div flex="10"></div>
    </div>

</div>
<main>
    <div class="md-body-1" layout-fill>
        <div layout="row">
            <div flex="10"></div>

            <div flex>
                    <div ui-view>
                    </div>
            </div>
            <div flex="10"></div>
        </div>
    </div>
</main>
<div ng-controller="SidenavController as snc">
    <md-sidenav class="md-sidenav-left" md-component-id="left" >
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <div layout="column">
                    <div class="md-body-2">{{snc.userInfo.name + ' '
                        + snc.userInfo.patronym + ' '
                        + snc.userInfo.surname}}
                    </div>
                    <div class="md-caption">Тип аккаунта: {{snc.userInfo.usergroup}}</div>
                </div>
                <div>
                </div>
            </div>
            <div layout-align="end end" layout="row">
                <md-button ng-click="snc.logout()"> Выйти</md-button>
            </div>
        </md-toolbar>
        <div layout-align="center" layout="column">
            <a ng-click="snc.toggleMenu()">Мои вопросы</a>
            <a ng-click="snc.toggleMenu()" ui-sref="messages({id: snc.userInfo.id})">Сообщения</a>
            <md-divider></md-divider>
            <a ng-click="snc.toggleMenu()">Настройки</a>
        </div>
    </md-sidenav>
</div>
<!--<footer>-->
    <!--<md-toolbar class="md-scroll-shrink" >-->
        <!--<div layout="row" layout-align="center center" flex class="md-body-1">-->
            <!--Сайт разработан в рамках дипломного проектирования в 2017 г.-->
        <!--</div>-->
    <!--</md-toolbar>-->
<!--</footer>-->

<script src="scripts/vendor/angular.min.js"></script>
<script src="scripts/vendor/angular-animate.min.js"></script>
<script src="scripts/vendor/angular-aria.min.js"></script>
<script src="scripts/vendor/angular-material.min.js"></script>
<script src="scripts/vendor/lodash.min.js"></script>
<script src="scripts/vendor/restangular.min.js"></script>
<script src="scripts/vendor/angular-cookies.min.js"></script>
<script src="scripts/vendor/moment.min.js"></script>
<script src="scripts/vendor/ru.js"></script>
<script src="scripts/vendor/angular-moment.min.js"></script>
<script src="scripts/vendor/angular-ui-router.min.js"></script>
<script src="scripts/vendor/md-data-table.min.js"></script>
<script src="app.js"></script>
<script src="scripts/controllers/main.controller.js"></script>
<script src="scripts/controllers/question.controller.js"></script>
<script src="scripts/controllers/user.controller.js"></script>
<script src="scripts/controllers/cabinet.controller.js"></script>
<script src="scripts/controllers/toolbar.controller.js"></script>
<script src="scripts/controllers/sidenav.controller.js"></script>
<script src="scripts/controllers/library.controller.js"></script>
<script src="scripts/controllers/message.controller.js"></script>
<script src="scripts/services/session.manager.js"></script>
<script src="scripts/services/query.service.js"></script>
</body>
</html>
