<md-dialog>
  <form ng-cloak name="FormCreateQuestion">
    <md-toolbar class="shared_form">
      <div class="md-toolbar-tools">Задать вопрос сообществу пользователей</div>
    </md-toolbar>
    <md-dialog-content>
      <div layout="column" layout-padding>
          <input ng-model="title" placeholder="Заголовок" required style="margin-bottom: 5px"/>
        <textarea ng-model="body" rows="10" required ></textarea>
        <div layout="row">
          <div flex="50" style="margin-top: 2px"><md-radio-group ng-model="payable" required >
            <md-radio-button value="payme" class="md-primary">Платный</md-radio-button>
            <md-radio-button value="free" class="md-primary">Бесплатный</md-radio-button>
          </md-radio-group></div>
          <div ng-show="payable === 'payme'">
            <input class="input-question" id="pay-him" ng-model="price" placeholder="Цена вопроса, руб."/>
          </div>

        </div>


        <div layout="row" layout-align="end end">
          <md-button ng-click="hide()" class="answer-button">Отмена</md-button>
          <input class="md-button answer-button" type="submit" ng-click="createQuestion(title, body, author, payable, price)" ng-disabled="FormCreateQuestion.$invalid" value="Отправить"/>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>