md-dialog
    form(ng-cloak='')
        md-toolbar
            .md-toolbar-tools Редактирование данных пользователя
        md-dialog-content
            .md-body-1(layout-padding)
                div(layout='row')
                    md-input-container
                        label Имя:
                        input(ng-model='cc.user.name')
                    md-input-container
                        label Отчество:
                        input(ng-model='cc.user.patronym')
                    md-input-container
                        label Фамилия
                        input(ng-model='cc.user.surname')

                md-input-container
                    label Дата рождения
                    md-datepicker(ng-model='cc.user.birthday')
                md-input-container
                    label Дата регистрации
                    md-datepicker(ng-model='cc.user.date_of_registration')
                md-input-container
                    label Группа пользователей
                    input(ng-model='cc.user.usergroup')
                div(layout='row')
                    div
                        label Статус активности:
                        md-checkbox(ng-model='cc.user.active')

                    div(layout='row')
                        label Баланс: &nbsp
                        .md-body-1 {{cc.user.balance}} &nbsp
                    div(layout='row')
                        label Рейтинг: &nbsp
                        .md-body-1 {{cc.user.rating}}
        md-dialog-actions(layout='row')
            md-button.md-raised(ng-click='cc.cancelChanges()') Отмена
            md-button.md-raised.md-primary(ng-click='cc.saveChanges()') Сохранить