

div.md-body-1(layout='column')
    div(layout='row')
        div.my_border(flex)
            md-content
            div(layout='row', layout-align='center')
                div.md-title.layout-padding Последние вопросы
            .md-body-1(ng-repeat='q in mc.questions')
                div.quest.head_link(layout='row', layout-align=' center')
                    div(ui-sref='question({id : q.id})') {{q.title}}
                    div {{q.date_of_create | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}
                    div {{q.price}}
        div.my_border_left(flex='25')