div.md-body-1(layout='column')
    div(layout='row')
        div(flex)
            div(layout='row', layout-align='center')
                div.md-caption(flex) Последние вопросы
            .md-content(ng-repeat='q in mc.questions')
                div.quest
                    .md-headline.quest-title(ui-sref='question({id : q.id})') {{q.title}}
                    .md-caption Дата публикации: {{q.date_of_create | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}
                    .md-body-1 {{q.content | limitTo: 90}}{{q.content.length > 90 ? '...' : ''}}

                    div(layout='row', layout-align='end')
                        .md-caption Цена вопроса: {{q.price}}

            //.md-body-1(layout='column')
            //    md-input-container
            //        label Название
            //        input(name='title-question')
            //    md-input-container
            //        label Суть вопроса
            //        input(name='body-question')
            //    md-button.md-primary(ng-click='mc.makeQuestion()') Задать вопрос

        div(flex='25')
            div(layout='column', layout-align='center', layout-fill)
                div(flex) Топ специалистов
                div(flex) Обсуждаемые
                div(flex) Последние
