div(layout-align='center', layout='row')
    md-button.md-primary Главная
    md-button.md-primary Новости
    md-button.md-primary Библиотека
div.md-body-1(layout='column')
    div(layout='row')
        div(flex='10')
        div(flex)
            div(layout='row', layout-align='center')
                .md-subheader Последние вопросы
            .md-content(ng-repeat='q in mc.questions')
                md-card.quest
                    .md-title {{q.title}}
                    .md-caption Дата публикации: {{q.date_of_create | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}
                    .md-body-1 {{q.content}}

                    div(layout='row', layout-align='end')
                        .md-caption Цена вопроса: {{q.price}}

        div(flex='20')
            div(layout='column')
                md-button.md-primary.md-raised Регистрация
                md-button.md-primary.md-raised Поддержка

        div(flex='10')
