div.md-body-1(layout='column')
    div(layout='row')
        div(flex='10')
        div(flex)
            div(layout='row', layout-align='center')
                .md-subheader Последние вопросы
            .md-content(ng-repeat='q in mc.questions')
                div
                    .md-title.quest-title(ui-sref='question({id : q.id})') {{q.title}}
                    .md-caption Дата публикации: {{q.date_of_create | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}
                    .md-body-1 {{q.content | limitTo: 90}}{{q.content.length > 90 ? '...' : ''}}

                    div(layout='row', layout-align='end')
                        .md-caption Цена вопроса: {{q.price}}

            //.md-body-1(layout='column')
            //    md-input-container
            //        label Название
            //        input(name='title', ng-model='title')
            //    md-input-container
            //        label Суть вопроса
            //        input(name='body', ng-model='body')
            //    md-button.md-primary(ng-click='mc.makeQuestion(title,body)') Задать вопрос
        div(flex='10')