div.md-body-1(layout='column')
    md-content
        article
            div(ng-repeat="book in lc.books")
                a.md-body-1.ws-book(ng-href="{{book.path}}") {{book.title}}
                .md-caption {{book.category}}