div(layout='row')
    div(flex=70)
        div
            ui-view

    div(flex)
        div(layout='column')
            .md-title Диалоги
        div(ng-repeat='d in mc.dialogs')
            a.like-button(ui-sref='dialogs({id: mc.id, dialog: d.id})') {{d.caption}}