div(layout='row')
    div(flex)
        md-content
            .md-body-1(ng-repeat='m in mc.messages')
                div.mess-container
                    .md-caption.md-body-2 {{m.name}} {{m.date_of_create | amUtc | amLocal | amDateFormat:'hh:mm:ss'}}
                    .md-body-1 {{m.body}}
            div.mess-field(layout='column')
                textarea(rows=10, ng-model='message')
                .md-body-1(layou='row')
                div(layout='row', layout-align='end end')
    md-sidenav.md-sidenav-left(md-component-id='left', md-is-locked-open="$mdMedia('gt-md')", style='margin-top:8px')
        md-content(layout='column')
            md-toolbar.light-tb
                .md-toolbar-tools
                    .md-body-2 Диалоги
            a Тра-та-та