div.md-body-1(layout='column', style='background-color: white')
    div(layout='row')
        div(flex, style='margin-top: 10px')
            div(layout-margin)
                article
                    .md-title {{qc.question.title}}
                    .md-caption.ws-author(style="padding-left:10px",ui-sref="person({id: qc.question.person.id})") {{qc.question.person.name}} {{qc.question.person.surname}}
                    .md-caption(style="padding-left:10px") {{qc.question.created | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}
                    .md-body-1.ws-body(ng-bind-html="qc.question.body")
                div(layout='column',layout-padding="50px")
                    .md-body-2
                        md-divider
                        | Ответы
                    div(ng-repeat='ans in qc.question.answers')
                        article.answer-in-question
                            .md-body-1
                                | {{$index+1}}. {{ans.body}}
                            answer-vote
                            div(layout="column")
                                div(flex)
                                    .md-caption(layout='row', layout-align='end') {{ans.created | amUtc | amLocal | amDateFormat:'LLL'}}, {{ans.person.name }} {{ans.person.surname}}
                    answer-create