div.md-body-1(layout='column')
    div(layout='row')
        div(flex='10')
        div(flex)
            md-card.quest
                .md-headline {{qc.question.title}}
                .md-caption Дата публикации: {{qc.question.date_of_create | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}
                .md-body-1 {{qc.question.content}}
                div(layout='row', layout-align='end')
                    .md-caption Цена вопроса: {{qc.question.price}}
                    md-button.md-raised(layout-align='end end', ng-click='qc.answer(qc.question.id)') Ответить
        div(flex='10')