  <form name="FormAuth">
    <div class="section center-align form-title">
      <span>Авторизация пользователя</span>
    </div>
    <div class="row">
      <div class="col s12">
    <div class="row">
      <div class="input-field">
        <input id="login" ng-model="login" type="text" class="validate" required/>
        <label for="login">Логин:</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input id="password" ng-model="password" type="password" class="validate" required/>
        <label for="password">Пароль:</label>
      </div>
    </div>
    <p>
      <input type="checkbox" ng-model="cb" id="chkbx"/>
      <label for="chkbx">Запомнить меня</label>
    </p>
    <a class="waves-effect waves-light btn" ng-click="cancel()">Отмена</a>
    <a class="waves-effect waves-light btn" ng-click="auth(login, password, cb)" ng-disabled="FormAuth.$invalid">Войти</a>
    </div>
    </div>
  </form>