<md-dialog style="border-radius: 0">
  <form ng-cloak>
    <md-toolbar class="shared_form">
      <div class="md-toolbar-tools">Авторизация пользователя</div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-body-1" layout-padding="layout-padding">
        <div layout="column">
          <md-input-container class="inp_cont_marg">
            <label>Логин:</label>
            <input ng-model="login" type="text"/>
          </md-input-container>
          <md-input-container class="inp_cont_marg">
            <label>Пароль:</label>
            <input ng-model="password" type="password"/>
          </md-input-container>
          <md-checkbox ng-model="cb" area="Куки">
            Запомнить меня
          </md-checkbox>
        </div>
      </div>
      <md-dialog-actions layout="row">
        <md-button class="simple-button" ng-click="cancel()">Отмена</md-button>
        <md-button class="simple-button" ng-click="auth(login, password, cb)">Войти</md-button>
      </md-dialog-actions>
    </md-dialog-content>
  </form>
</md-dialog>