html {
    overflow: scroll;
}
.quest {
    padding: 5px 25px;
}

.quest-title:hover {
    cursor: pointer;
}

.card-ui-view {

}

footer {
    background-color: #ccc;
}

#tb-search {
    border-radius:2px;
    font-weight: bold;
    font-size: medium;
}
