<md-toolbar class="md-menu-toolbar beeline-tb" style="min-height: 0">
    <div layout="row">
        <div flex="20"></div>
        <div flex>
            <md-menu-bar>
                <button ui-sref="index" class="menu-but">Главная</button>
                <button class="menu-but" ui-sref="people">
                    Участники
                </button>
                <button ui-sref="library" class="menu-but">
                    Библиотека
                </button>

                <button class="menu-but" ui-sref="ratings">
                    Рейтинги
                </button>
                <button class="menu-but">Справка</button>
            </md-menu-bar>
        </div>
        <div flex="20"></div>
    </div>


</md-toolbar>