extends layout

block content
    body
        include standard/header-image
        .container
            nav.navbar.navbar-default
                .container-fluid
                    // Brand and toggle get grouped for better mobile display
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/')
                            img.img-responsive(src='./images/law-brand.png')
                    // Collect the nav links, forms, and other content for toggling
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a(href='/') Главная
                            li
                                a(href='/seminars') Семинары
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    | Еще
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='#') Action
                                    li
                                        a(href='#') Another action
                                    li
                                        a(href='#') Something else here
                                    li.divider(role='separator')
                                    li
                                        a(href='#') Separated link
                                    li.divider(role='separator')
                                    li
                                        a(href='#') One more separated link
                        form.navbar-form.navbar-left
                            .form-group
                                input.form-control(type='text', placeholder='Введите запрос')
                            button.btn.btn-default(type='submit') Поиск
                        ul.nav.navbar-nav.navbar-right
                            li.active
                                a(href='/about')
                                    | О нас
                                    span.sr-only (current)
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    | Кабинет
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/signup') Регистрация
                                    li
                                        a(href='/signin') Войти
                                    li.divider(role='separator')
                                    li
                                        a(href='#') Ссылки
                    // /.navbar-collapse
                // /.container-fluid
        .container
            div
                h1 О нас
            | Равным образом рамки и место обучения кадров играет важную роль в формировании дальнейших направлений развития.
            | Товарищи! реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании
            | соответствующий условий активизации. Повседневная практика показывает, что сложившаяся структура организации требуют
            | определения и уточнения направлений прогрессивного развития. Не следует, однако забывать, что постоянный количественный
            | рост и сфера нашей активности способствует подготовки и реализации форм развития. Товарищи! консультация с широким активом
            | требуют определения и уточнения дальнейших направлений развития. Не следует, однако забывать, что начало повседневной
            | работы по формированию позиции влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
            | Задача организации, в особенности же реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации
            | новых предложений. Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и
            | реализации соответствующий условий активизации. Разнообразный и богатый опыт новая модель организационной деятельности
            | позволяет оценить значение модели развития.
            | Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности играет
            | важную роль в формировании систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение
            | нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.


        include standard/footer
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='./scripts/bootstrap.min.js')
