extends layout
block content
    include standard/subnav
    #home-content

        |Тут должна быть одна заявка

        .title
            |#{appl.title}
        .content
            |#{appl.body}

