.col-md-3.col-lg-5.col-sm-4
    h4#title-indexform Задайте свой вопрос
    form#application-form(method='POST', action='/addapp')
        input#application-title.form-control(name='title', placeholder='Заголовок вопроса', required)
        textarea#application-text.form-control(rows='5', name='body', placeholder='Текст вопроса', required)
        input#id.form-control(name='author', type='hidden', value=user._id)

        .row
            br
        button.btn.btn-success#indexformsubmit(type='submit') Отправить