if !user
    .col-md-1
    .col-md-10.auth-form
        #auth-menu
            .text-center.login-title Авторизация
            form(id='index-form-auth' ,class='form-signin', action='/login', method='POST')
                input(type='text', name='username' class='form-control', placeholder='Логин',required, autofocus)
                input(type='password', name='password' class='form-control', placeholder='Пароль', required)
                button(class='btn btn-primary btn-block', id='index-btn-auth', type='submit') Войти
                span.clearfix
            .text-center
                a(href='/signup', class='new-account') Создать аккаунт
            #message
            if message
                h6.text-center.error-message #{message}
    .com-md-1
if user
    | Вы вошли как #{user.username}
    ul
        li
            a(href='/home') Кабинет
        li
            a(href='/signout') Выйти