extends layout
block content
    body
        include standard/header-image
        include standard/nav
        .container
            div
                h3(style='text-align: center') #{longTitle}
            .col-md-8.col-lg-6.col-sm-8
                #carousel-example-generic.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel-example-generic', data-slide-to='0')
                        li(data-target='#carousel-example-generic', data-slide-to='1')
                        li(data-target='#carousel-example-generic', data-slide-to='2')
                    .carousel-inner(role='listbox')
                        .item.active
                            img.img-responsive(src='./images/slider/slide-1.jpg', alt='...')
                            .carousel-caption
                        .item
                            img.img-responsive(src='./images/slider/slide-2.jpg', alt='...')
                            .carousel-caption
                        .item
                            img.img-responsive(src='./images/slider/slide-3.jpeg', alt='...')
                            .carousel-caption
                    a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                        span.sr-only Previous
                    a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
                        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                        span.sr-only Next
            .col-md-3.col-lg-5.col-sm-4
                h4 Задайте свой вопрос
                form(method='POST', action='/addapp')
                    textarea.form-control(rows='5', name='appbody')
                    .row
                        br
                    form.form-inline
                        .form-group

                            input#exampleInputName2.form-control(name='username', type='text', placeholder='Ваше имя')
                        .form-group

                            input#exampleInputEmail2.form-control(name='email', type='email', placeholder='Почтовый ящик')
                        button.btn.btn-success#index-btn(type='submit') Отправить
            .col-md-1.col-lg-1
        .container
            .row.title-block-answers
                h4 Последние опубликованные вопросы
            .row.questions
                .col-md-1

                //доделать!
                .col-md-10
                   -for (var a in applications)
                    .panel.panel-info

                        .panel-heading
                            a(href='#') #{applications[a].title}
                        .panel-body #{applications[a].body}
                            .row.answers
                                button.btn.btn-primary(type='button')
                                    | Ответов
                                    span.badge #{applications[a].numberofanswers}


                .col-md-1
        include standard/footer