extends layout

block content
    body
        .container
            nav.navbar.navbar-default
                .container-fluid
                    // Brand and toggle get grouped for better mobile display
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='index.html')
                            img.img-responsive(src='./images/law-brand.png')
                    // Collect the nav links, forms, and other content for toggling
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li.active
                                a(href='/')
                                    | Главная
                                    span.sr-only (current)
                            li
                                a(href='/seminars') Семинары
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    | Еще
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='#') Action
                                    li
                                        a(href='#') Another action
                                    li
                                        a(href='#') Something else here
                                    li.divider(role='separator')
                                    li
                                        a(href='#') Separated link
                                    li.divider(role='separator')
                                    li
                                        a(href='#') One more separated link
                        form.navbar-form.navbar-left
                            .form-group
                                input.form-control(type='text', placeholder='Введите запрос')
                            button.btn.btn-default(type='submit') Поиск
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='/about') О нас
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    | Кабинет
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/signup') Регистрация
                                    li
                                        a(href='/signin') Войти
                                    li.divider(role='separator')
                                    li
                                        a(href='#') Ссылки
                    // /.navbar-collapse
                // /.container-fluid
        .container
            div
                h1(style='text-align: center') Наверно, очень длинный заголовок
            .col-md-8.col-lg-4(style='height: 400px;')
                #carousel-example-generic.carousel.slide(data-ride='carousel')
                    // Indicators
                    ol.carousel-indicators
                        li.active(data-target='#carousel-example-generic', data-slide-to='0')
                        li(data-target='#carousel-example-generic', data-slide-to='1')
                        li(data-target='#carousel-example-generic', data-slide-to='2')
                    // Wrapper for slides
                    .carousel-inner(role='listbox')
                        .item.active
                            img.img-responsive(src='./images/slider/slide-1.jpg', alt='...')
                            .carousel-caption
                        .item
                            img.img-responsive(src='./images/slider/slide-2.jpg', alt='...')
                            .carousel-caption
                        .item
                            img.img-responsive(src='./images/slider/slide-3.jpeg', alt='...')
                            .carousel-caption
                    // Controls
                    a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                        span.sr-only Previous
                    a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
                        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                        span.sr-only Next
            .col-md-4.col-lg-8
                h1 Заголовок
                p
                    | Какой-то вступительный текст...
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='./scripts/bootstrap.min.js')
                   