extends layout
block content
    body
        include standard/nav
        .container

            .row
                //сюда вставляем основной контент
                .col-sm-8.index-main

                    h2.text-center Длинный заголовок
                    .pre
                        | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
                        | Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        | Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.

                    hr

                    //.index-app
                    //    button.btn.btn-danger#btn-index-app Прямиком в ад!
                    //    h1 Тут что-то должно быть!
                    //hr
                    include main-list



                    //.col-md-1
                    //.col-md-10
                    //    #carousel-example-generic.carousel.slide(data-ride='carousel')
                    //        ol.carousel-indicators
                    //            li.active(data-target='#carousel-example-generic', data-slide-to='0')
                    //            li(data-target='#carousel-example-generic', data-slide-to='1')
                    //            li(data-target='#carousel-example-generic', data-slide-to='2')
                    //        .carousel-inner(role='listbox')
                    //            .item.active
                    //                img.img-responsive(src='./images/slider/slide-1.jpg', alt='...')
                    //                .carousel-caption
                    //            .item
                    //                img.img-responsive(src='./images/slider/slide-2.jpg', alt='...')
                    //                .carousel-caption
                    //            .item
                    //                img.img-responsive(src='./images/slider/slide-3.jpeg', alt='...')
                    //                .carousel-caption
                    //        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
                    //            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    //            span.sr-only Previous
                    //        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
                    //            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    //            span.sr-only Next
                    //.col-md-1

                // боковое меню
                .col-sm-3.col-sm-offset-1.index-sidebar
                    //первое боковое меню - авторизация
                    .sidebar-auth(style='height:200px')
                        if !user
                            .col-md-1
                            .col-md-10.auth-form
                                #auth-menu
                                    .text-center.login-title Авторизация
                                    form(id='index-form-auth' ,class='form-signin', action='/login', method='POST')
                                        input(type='text', name='username' class='form-control', placeholder='Логин',required, autofocus)
                                        input(type='password', name='password' class='form-control', placeholder='Пароль', required)
                                        button(class='btn btn-primary btn-block', id='index-btn-auth', type='submit') Войти
                                        span.clearfix
                                    .text-center
                                        a(href='/signup', class='new-account') Создать аккаунт
                                    #message
                                    if message
                                        h6.text-center.error-message #{message}
                            .com-md-1
                        if user
                            | Вы вошли как #{user.username}
                            ul
                                li
                                    a(href='/home') Кабинет
                                li
                                    a(href='/signout') Выйти
                     // второе боковое меню
                    .sidebar-module(style='height:200px')
                        | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                    // третье боковое меню
                    .sidebar-module(style='height:200px')
                        | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        .container
            .col-md-1.col-lg-1
        include standard/footer
