doctype html
html(lang='en')
    include standard/header
    body
        include standard/nav
        .container
            .row
                .col-sm-8.index-main
                    block content

                include sidebar
        include standard/footer