extends layout

block content
    body
        //include standard/header-image
        include standard/nav
        .container
            .resources-div
                ol
                    li
                        a(href='../downloads/Const_RF.pdf') Тест Конституция РФ
        include standard/footer