h3 Новинки
.row
    .col-sm-6.col-md-3
        .thumbnail
            img(src='/images/prev.png', alt='Превьюшка')
            .caption
                h4 Семинар 1
                p Текст какой-то

                //тестируем отправку формы
                form(action='/add', method='post')
                    button.btn.btn-primary(type='submit') Купить
                    input(type='hidden', name='item', value='value 1')

h3 Популярные
.row
    .col-sm-6.col-md-3
        .thumbnail
            img(src='/images/prev.png', alt='Превьюшка')
            .caption
                h4 Thumbnail label
                p Текст какой-то
                p
                    a.btn.btn-primary(href='#', role='button') Button
                    a.btn.btn-default(href='#', role='button') Button
