extends layout

block content
    body
        include standard/header-image
        include standard/nav
        .container
            div
                p
                h2 Регистрация
                p
            .col-md-3
            .col-md-6
                form.form-horizontal
                    .form-group
                        label.col-sm-2.control-label Имя
                        .col-sm-10
                            input.form-control(type='password', placeholder='Имя')
                    .form-group
                        label.col-sm-2.control-label Отчество
                        .col-sm-10
                            input.form-control(type='password', placeholder='Отчество')
                    .form-group
                        label.col-sm-2.control-label Фамилия
                        .col-sm-10
                            input.form-control(type='password', placeholder='Фамилия')
                    .form-group
                        label.col-sm-2.control-label(for='inputEmail3') Почта
                        .col-sm-10
                            input#inputEmail3.form-control(type='email', placeholder='Почта')
                    .form-group
                        label.col-sm-2.control-label(for='inputPassword3') Пароль
                        .col-sm-10
                            input#inputPassword3.form-control(type='password', placeholder='Пароль')

                    .form-group
                        .radio
                            label
                                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                                |     Обычный пользователь
                        .radio
                            label
                                input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                                |     Юрист



                    .form-group
                        .col-sm-offset-2.col-sm-10
                            button.btn.btn-default(type='submit') Зарегистрироваться
            .col-md-3
        include standard/footer