<md-dialog aria-label="Регистрация пользователя" style="border-radius: 0">
  <form ng-cloak="">
    <md-toolbar class="shared_form">
      <div class="md-toolbar-tools">Регистрация нового пользователя</div>
    </md-toolbar>
    <md-dialog-content >
      <div class="md-dialog-content">
        <div layout="column">
          <md-input-container class="inp_cont_marg">
            <label>Логин</label>
            <input ng-model="login"/>
          </md-input-container>
          <md-input-container class="inp_cont_marg">
            <label>Пароль</label>
            <input ng-model="password" type="password"/>
          </md-input-container>
          <md-input-container class="inp_cont_marg">
            <label>Фамилия</label>
            <input ng-model="surname"/>
          </md-input-container>
          <md-input-container class="inp_cont_marg">
            <label>Имя</label>
            <input ng-model="name"/>
          </md-input-container>
          <md-input-container class="inp_cont_marg">
            <label>Страна</label>
            <input ng-model="country"/>
          </md-input-container>
          <md-input-container class="inp_cont_marg">
            <label>Область, край и тд</label>
            <input ng-model="area"/>
          </md-input-container>
          <md-input-container class="inp_cont_marg">
            <label>Город, поселок и тд.</label>
            <input ng-model="city"/>
          </md-input-container>
          <md-input-container class="inp_cont_marg">
            <label>Телефон</label>
            <input ng-model="telephone"/>
          </md-input-container>
          <div flex class="inp_cont_marg">
            <h4>Дата рождения</h4>
            <md-datepicker ng-model="birthday" md-current-view="year"></md-datepicker>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="simple-button" ng-click="cancel()">Отмена</md-button>
      <md-button class="simple-button" ng-click="register(login, password, name, surname, birthday, country, area, city, telephone)">Зарегистрироваться</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>