<div class="row">
    <form name="FormQuestionEdit" class="col s12">
        <div class="section form-title center-align">
            Редактирование вопроса
        </div>
        <div class="input-field col s8">
                <legend>Заголовок</legend>
                <input id="question_title" type="text" ng-model="question.title" name="title"/>
        </div>

        <div class="input-field col s2">
            <legend>Дата создания</legend>
            <input disabled type="date" class="datepicker" ng-model="question.created"/>
        </div>

        <div class="input-field col s2">
                <legend>Активность</legend>
                <input type="checkbox" id="closed" ng-model="question.closed" name="closed">
                <label for="closed" style="min-width: 94px; min-width: 94px">{{question.closed | true_false}}</label>
        </div>

        <div class="input-field col s12">
                <legend>Содержимое вопроса</legend>
                <textarea class="materialize-textarea" ng-model="question.body" name="body"></textarea>
        </div>

            <div class="input-field col s2">
                <input id="pay" type="checkbox" ng-model="question.payable" name="payable"/>
                <label style="min-width: 122px; max-width: 122px" for="pay">{{question.payable | pay_free}}</label>
            </div>
            <div class="input-field col s2">
                <legend>Цена, руб.</legend>
                <input id="money" type="text" ng-model="question.price" ng-disabled="question.payable !== true" name="money">
            </div>
        <div class="modal-footer right-align col s12 section" >
            <a class="waves-light btn" ng-click="cancel_edit()">Отмена</a>
            <a id="save_btn" class="waves-light btn" ng-disabled="FormQuestionEdit.title.$pristine &&
            FormQuestionEdit.body.$pristine && FormQuestionEdit.payable.$pristine &&
            FormQuestionEdit.money.$pristine && FormQuestionEdit.closed.$pristine" ng-click="save_question_changes(question.title, question.body, question.closed, question.payable, question.price)">Сохранить</a>
        </div>
    </form>
</div>
