
<div class="create-question">
  <div class="md-body-1" layout="column">
    <div class="md-subhead" flex="flex">Задать вопрос сообществу пользователей</div>
    <input class="input-question" ng-model="title" placeholder="Заголовок"/>
    <textarea class="input-question" ng-model="body" rows="10" placeholder="Тело вопроса"></textarea>
    <md-radio-group ng-model="payable">
      <md-radio-button value="true">Платный</md-radio-button>
      <md-radio-button value="false">Бесплатный</md-radio-button>
    </md-radio-group>
    <input class="input-question" ng-model="price" placeholder="Цена вопроса"/>
  </div>
  <div layout="row" layout-align="end end">
    <button class="answer-button" type="button" ng-click="createQuestion(title, body, author, payable, price)">Отправить</button>
  </div>
</div>