
<md-dialog>
  <form ng-cloak="">
    <md-toolbar>
      <div class="md-toolbar-tools">Редактирование данных пользователя</div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-body-1">
        <div layout="row">
          <md-input-container>
            <label>Имя:</label>
            <input ng-model="cc.user.name"/>
          </md-input-container>
          <md-input-container>
            <label>Отчество:</label>
            <input ng-model="cc.user.patronym"/>
          </md-input-container>
          <md-input-container>
            <label>Фамилия</label>
            <input ng-model="cc.user.surname"/>
          </md-input-container>
        </div>
        <md-input-container>
          <label>Дата рождения</label>
          <md-datepicker ng-model="cc.user.birthday"></md-datepicker>
        </md-input-container>
        <md-input-container>
          <label>Дата регистрации</label>
          <md-datepicker ng-model="cc.user.date_of_registration"></md-datepicker>
        </md-input-container>
        <md-input-container>
          <label>Группа пользователей</label>
          <input ng-model="cc.user.usergroup"/>
        </md-input-container>
        <div layout="row">
          <div>
            <label>Статус активности:</label>
            <md-checkbox ng-model="cc.user.active"></md-checkbox>
          </div>
          <div layout="row">
            <label>Баланс: &nbsp</label>
            <div class="md-body-1">{{cc.user.balance}} &nbsp</div>
          </div>
          <div layout="row">
            <label>Рейтинг: &nbsp</label>
            <div class="md-body-1">{{cc.user.rating}}</div>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="cc.cancelChanges()">Отмена</md-button>
      <md-button class="md-raised md-primary" ng-click="cc.saveChanges(cc.user.name)">Сохранить</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>