
<div class="md-body-1" layout="column">
  <div layout="row">
    <div flex="10"></div>
    <div flex="flex">
      <div layout="row" layout-align="center">
        <div class="md-subheader">Последние вопросы</div>
      </div>
      <div class="md-content" ng-repeat="q in mc.questions">
        <div>
          <div class="md-title quest-title" ui-sref="question({id : q.id})">{{q.title}}</div>
          <div class="md-caption">Дата публикации: {{q.date_of_create | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}</div>
          <div class="md-body-1">{{q.content | limitTo: 90}}{{q.content.length > 90 ? '...' : ''}}</div>
          <div layout="row" layout-align="end">
            <div class="md-caption">Цена вопроса: {{q.price}}</div>
          </div>
        </div>
      </div>
      <!--.md-body-1(layout='column')-->
      <!--    md-input-container-->
      <!--        label Название-->
      <!--        input(name='title', ng-model='title')-->
      <!--    md-input-container-->
      <!--        label Суть вопроса-->
      <!--        input(name='body', ng-model='body')-->
      <!--    md-button.md-primary(ng-click='mc.makeQuestion(title,body)') Задать вопрос-->
    </div>
    <div flex="10"></div>
  </div>
</div>