
<div class="md-body-1" layout="column">
  <md-content>
    <div flex="flex">
      <div ng-repeat="q in mc.questions" ui-sref="question({id : q.id})">
        <div class="ws-item-list" layout="column">
          <div class="md-subhead"> {{q.title}}</div>
          <div class="md-caption">{{q.person.name}} {{q.person.surname}} {{q.created | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}</div>
          <div class="md-body-1 ws-body">{{q.body}}</div>
        </div>
      </div>
    </div>
  </md-content>
</div>