
<div class="md-body-1" layout="column">
  <div layout="row">
    <div class="my_border" flex="flex">
      <md-content></md-content>
      <div layout="row" layout-align="center">
        <div>Последние вопросы</div>
      </div>
      <div class="md-body-1" ng-repeat="q in mc.questions">
        <div class="quest head_link" layout="row" layout-align=" center">
          <div ui-sref="question({id : q.id})">{{q.title}}</div>
          <div class="ans_count">Ответов</div>
          <div class="date_of_q">{{q.date_of_create | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}</div>
          <div class="price_q">{{q.price}}</div>
        </div>
      </div>
    </div>
    <div class="my_border_left" flex="25"></div>
  </div>
</div>