
<div class="md-body-1" layout="column">
  <div layout="row">
    <div class="my_border" flex="25">
      <div layout="column" layout-align="center">
        <div layout="row" layout-align="center">Категории</div>
      </div>
    </div>
    <div class="my_border_right" flex="flex">
      <div layout="row" layout-align="center">Библиотека</div>
      <div class="md-content" ng-repeat="q in mc.questions">
        <div class="quest" layout="row" layout-align=" center">
          <div ui-sref="question({id : q.id})">{{q.title}}</div>
          <div class="ans_count">Ответов</div>
          <div class="date_of_q">{{q.date_of_create | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}</div>
          <div class="price_q">{{q.price}}</div>
        </div>
      </div>
    </div>
  </div>
</div>