
<div class="md-body-1" layout="column">
  <div layout="row">
    <div flex="flex">
      <div layout="row" layout-align="center">Библиотека</div>
      <div class="md-content" ng-repeat="q in mc.questions">
        <div layout="row" layout-align=" center">
          <div ui-sref="question({id : q.id})">{{q.title}}</div>
          <div>Ответов</div>
          <div>{{q.date_of_create | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}</div>
          <div>{{q.price}}</div>
        </div>
      </div>
    </div>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-content layout="column">
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <div class="md-title">Категории</div>
          </div>
        </md-toolbar><a>Кодексы</a><a>Справочники</a><a>Сборники</a><a>Законодательства</a>
      </md-content>
    </md-sidenav>
  </div>
</div>