
<div class="md-body-1" layout="column">
  <div layout="row">
    <div flex="10"></div>
    <div flex="flex">
      <md-card class="quest">
        <div class="md-headline">{{qc.question.title}}</div>
        <div class="md-caption">Дата публикации: {{qc.question.date_of_create | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}</div>
        <div class="md-body-1">{{qc.question.content}}</div>
        <div layout="row" layout-align="end">
          <div class="md-caption">Цена вопроса: {{qc.question.price}}</div>
          <md-button class="md-raised" layout-align="end end" ng-click="qc.answer(qc.question.id)">Ответить</md-button>
        </div>
      </md-card>
    </div>
    <div flex="10"></div>
  </div>
</div>