
<div class="md-body-1" layout="column" style="background-color: white;">
  <div layout="row">
    <div flex="flex" style="margin-top: 10px;">
      <div layout-margin="layout-margin">
        <article>
          <div class="md-title">{{qc.question.title}}</div>
          <div class="md-caption ws-author" style="padding-left:10px;" ui-sref="person({id: qc.question.person.id})">{{qc.question.person.name}} {{qc.question.person.surname}}</div>
          <div class="md-caption" style="padding-left:10px;">{{qc.question.created | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}</div>
          <div class="md-body-1 ws-body" ng-bind-html="qc.question.body"></div>
        </article>
        <div layout="column" layout-padding="50px">
          <div class="md-body-2">
            <md-divider></md-divider>Ответы
          </div>
          <div ng-repeat="ans in qc.question.answers">
            <article class="answer-in-question">
              <div class="md-body-1">{{$index+1}}. {{ans.body}}</div>
              <answer-vote></answer-vote>
              <div layout="column">
                <div flex="flex">
                  <div class="md-caption" layout="row" layout-align="end">{{ans.created | amUtc | amLocal | amDateFormat:'LLL'}}, {{ans.person.name }} {{ans.person.surname}}</div>
                </div>
              </div>
            </article>
          </div>
          <answer-create></answer-create>
          <!--div(layout='column')-->
          <!--    .md-body-2-->
          <!--        | Дать свой ответ-->
          <!--    textarea(rows=10, ng-model='answer_text')-->
          <!--    .md-body-1(layou='row')-->
          <!--    div(layout='row', layout-align='end end')-->
          <!--        button.answer-button(layout-align='end end', ng-click='qc.answer(qc.question.id, answer_text)') Ответить-->
        </div>
      </div>
    </div>
  </div>
</div>