<md-toolbar class="md-menu-toolbar beeline-tb" style="min-height: 0">
    <div>
        <md-menu-bar>
            <button ui-sref="index" class="menu-but">Главная</button>
            <button class="menu-but">
                Вопросы
            </button>
            <button ui-sref="library" class="menu-but">
                Библиотека
            </button>

            <button class="menu-but">
                Рейтинги
            </button>
            <button class="menu-but">Справка</button>
        </md-menu-bar>
    </div>
</md-toolbar>