<article class="ws-item-list" layout="column">
    <header class="md-title ws-q-title" ui-sref="question({id : $ctrl.question.id})">{{$ctrl.question.title}}</header>
    <div class="md-caption">
        <div class="ws-author" ui-sref="person({id: $ctrl.question.person.id})">
            {{$ctrl.question.person.name}}
            {{$ctrl.question.person.surname}}
        </div>
        {{$ctrl.question.created | amUtc | amLocal | amDateFormat:'LLL'}}</div>
    <div class="md-body-1 ws-body" ng-bind-html="$ctrl.question.body | limitTo: 350 | fpreview">
    </div>
</article>