<div class="box-container md-body-1">
    <div style="text-transform: uppercase" class="md-body-2">Меню пользователя</div>
    <div>
        <a class="like-button">Мои вопросы</a>
        <a class="like-button">Мои диалоги</a>
        <md-divider></md-divider>
        <a class="like-button">Мои настройки</a>
    </div>
</div>
<div class="box-container md-body-1">
    <div class="md-body-2" style="text-transform: uppercase">Рейтинг пользователей</div>
    <ol class="list-rating">
        <li ng-repeat="person in $ctrl.ratings | limitTo: 5" ui-sref="person({id: person.id})" class="rating-person">
            {{person.name}} {{person.surname}} : {{person.rating}}
        </li>
    </ol>
</div>
<div class="box-container md-body-1">
    <div class="md-body-2" style="text-transform: uppercase">Рейтинг ответов</div>
    <ol class="list-rating">
        <li ng-repeat="rating in $ctrl.answers | limitTo: 5">
            <div>
                {{rating.body | limitTo: 50}}
            </div>
            <div class="md-caption ws-q-title" ui-sref="question({id: rating.question.id})">
                к вопросу {{rating.question.title}} {{rating.mark}}
            </div>
           </li>
    </ol>
</div>