<div class="box-container md-body-1">
    <div>Меню</div>
    <div>
        <a class="like-button">Мои вопросы</a>
        <a class="like-button">Мои диалоги</a>
        <md-divider></md-divider>
        <a class="like-button">Мои настройки</a>
    </div>
</div>
<div class="box-container md-body-1">
    <div class="md-subhead">Рейтинг пользователей</div>
    <ol>
        <li ng-repeat="rating in $ctrl.ratings | limitTo: 5">
            {{rating.name}} {{rating.surname}} : {{rating.rating}}
        </li>
    </ol>
</div>
<div class="box-container md-body-1">
    <div class="md-subhead">Рейтинг ответов</div>
    <ol>
        <li ng-repeat="rating in $ctrl.answers | limitTo: 5">
            <div>
                {{rating.body | limitTo: 50}}
            </div>
            <div class="md-caption" ui-sref="question({id: rating.question.id})" style="cursor: pointer;">
                к вопросу {{rating.question.title}} {{rating.mark}}
            </div>
           </li>
    </ol>
</div>