<md-sidenav class="md-sidenav-left" md-component-id="left" >
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <div layout="column">
                <div class="md-body-2">{{$ctrl.userInfo.name + ' '
                    + $ctrl.userInfo.patronym + ' '
                    + $ctrl.userInfo.surname}}
                </div>
                <div class="md-caption">Тип аккаунта: {{$ctrl.userInfo.usergroup}}</div>
            </div>
            <div>
            </div>
        </div>
        <div layout-align="end end" layout="row">
            <md-button ng-click="$ctrl.logout()"> Выйти</md-button>
        </div>
    </md-toolbar>
    <div layout-align="center" layout="column">
        <a class="like-button" ng-click="$ctrl.toggleMenu()" ui-sref="user/questions({id: $ctrl.userInfo.id})">Мои вопросы</a>
        <a class="like-button" ng-click="$ctrl.toggleMenu()" ui-sref="messages({id: $ctrl.userInfo.id})">Сообщения</a>
        <md-divider></md-divider>
        <a class="like-button" ng-click="$ctrl.toggleMenu()">Настройки</a>
    </div>
</md-sidenav>