.footer-bottom {
    margin-top: 200px;
    border-top: 1px solid ;
    background: #0f0f0f;
    height: 200px;
}

.links {
    color: black;
    margin-top: 10px;
}

.head-image {
    height: 50%;
}

.bg-image {
    background-image: url(../images/header-our-value.jpg) ;
    height:150px;
}
.inner-head {
    margin-left: auto;
    margin-right: auto;
    font-size: 30pt;
    color: white;
    margin-top: 80px;
}
.footer-bottom a {
    color: white;
}

a:hover {
    text-decoration: none;
}
.links.col-md-2 h3 {
    color: white;
}

.row.answers {
    text-align: right;
}

.btn.btn-primary {
    margin-right: 5px;
}

.badge {
    margin-left: 5px;
}

.title-block-answers {
    text-align: center;
}

.col-md-4.col-lg-6.col-sm-4 > h3 {
    margin-top: 0;
}
.rights {
    text-align: center;
    color: white;
}

.resources-div a {
    color: black;
}