<div layout='column'>
    <form name="FormAnswer">
        <label for='answer-text'>Дайте свой ответ</label>
        <textarea rows='10' ng-model='answer_text' class='materialize-textarea validate' id='answer-text' required></textarea>
        <div class='md-body-1' layou='row'></div>

        <div class="row">

        </div>
        <div class="file-field input-field col s5 ">
            <div class="btn">Файл
                <!--<span></span>-->
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <div layout='col s7' layout-align='end end'>
            <a class='light-blue darken-3 btn' layout-align='end end'
               ng-click='answer(answer_text)' ng-disabled="FormAnswer.$invalid">Ответить</a>
        </div>
    </form>