<article class='answer-in-question' style="padding: 0 15px">
    <div layout='row'>
        <div class='md-caption' layout='row'>
            <!--{{$ctrl.a.created | amUtc | amLocal | amDateFormat:'LLL'}}-->
            <!--{{$ctrl.a.created | amUtc | amLocal | amDateFormat:'LLL'}}-->
            <span am-time-ago="$ctrl.a.created"></span>
           </div>
        <div flex='flex'>

        </div>
    </div>
    <div class="md-caption md-body-2">Оценка: {{$ctrl.a.mark}}</div>
    <div class='md-body-1 ws-body' style="padding-top: 5px; padding-bottom: 10px">{{$ctrl.a.body}}</div>
</article>