<div class="row view-cntr z-depth-1">
    <div class="row" style="margin-left: 1px">
        <div class="col s3">
            <div class="sb-title grey lighten-1">
                ДИАЛОГИ
            </div>
            <div class="sb-body">
                <a class="valign-wrapper menu-btn" ng-repeat="dialog in dialogs"
                   ui-sref="my_messages({dialogId: dialog.id })" ui-sref-active="active">{{dialog.caption}}</a>
                <!--<div ui-view="dialog_list"></div>-->
            </div>
        </div>

        <div class="col s9">
            <div ui-view></div>
        </div>
    </div>
</div>
