<div ng-show="messages" class="section center-align"><b>{{messages.caption}}, {{messages.started | amUtc | amLocal | amDateFormat: 'LLL' }}</b>
</div>

<div style="padding: 5px 9px;">
    <div style="min-height: 500px; max-height: 500px; overflow-y: scroll">
        <div ng-repeat="m in messages.messages">
            <div class="row col s12">
                <div ng-class="{'right-align': (m.person.name === my_name) && (m.person.surname === my_surname)}">
                    <span class="teal lighten-5" style="padding: 5px 8px; border-radius: 3px;">
                        <b>{{m.person.name}} {{m.person.surname}}, {{m.created | amUtc | amLocal | amDateFormat:'LLL' }}</b>
                    </span>
                    <div class="col s12" style="margin-top: 5px">{{m.body}}</div>
                </div>
            </div>
        </div>
    </div>
<div class="row section">
    <form name="FormDialog" class="col s12">
        <div class="input-field col s12">
            <input ng-model="_message" id="message" type="text" class="input" my-enter="send_message(_message)">
            <label for="message">Ваше сообщение</label>
        </div>
    </form>
</div>
</div>