<div class="z-depth-1 view-cntr">
<table class="highlight">
    <thead>
    <tr>
        <th>#</th>
        <th>Заголовок вопроса</th>
        <th>Автор</th>
        <th>Свойства</th>
        <th>Выбрать</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="q in questions">
        <td>{{$index + 1}}.</td>
        <td ng-bind="q.title"></td>
        <td>{{q.person.name}} {{q.person.surname}}</td>
        <td><a><i class="material-icons">description</i></a></td>
        <td>
           <input type="checkbox"/><label></label>
        </td>
    </tr>
    </tbody>
</table>
    <div class="divider"></div>
    <div class="row right-align" style="padding: 10px 15px">
        <a class="btn blue darken-2" disabled="">Удалить</a>
    </div>




</div>