<div class="md-body-1 ws-person-card">
        <div class="md-title">
            {{person.name}} {{person.surname}} <a style="cursor: pointer; font-size: smaller"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Перейти к диалогу">email</i></a>
        </div>

    <div style="padding-left: 15px">
        <div class="md-caption">
            Зарегистрирован: {{person.registrated | amUtc | amLocal | amDateFormat:'LLL'}}
        </div>
        <div>
            <span class="md-body-2">Дата рождения:</span>
            {{person.birthday | amUtc | amLocal | amDateFormat:'LL'}}
        </div>
        <div>
            <span class="md-body-2">Рейтинг:</span> {{person.rating}}
        </div>
    </div>

    <md-divider></md-divider>
    <div style="padding-top: 15px">
        <div class="md-subhead">Вопросы пользователя</div>
            <div ng-repeat="question in person.questions">
               <question-list-item item="question"></question-list-item>
            </div>
    </div>
    <md-divider></md-divider>
    <div style="padding-top: 15px">
        <div class="md-subhead">Ответы пользователя</div>
        <div ng-repeat="ans in person.answers">
            <answer-lite a="ans"></answer-lite>
        </div>
    </div>
</div>