<div class="md-body-1 ws-person-card z-depth-1 view-cntr">
        <div class="md-title">
            {{person.name}} {{person.surname}} <a style="cursor: pointer; font-size: smaller"><i class="material-icons tooltipped">email</i></a>
        </div>

    <div style="padding-left: 15px">
        <div>
            <b>Зарегистрирован:</b> {{person.registrated | amUtc | amLocal | amDateFormat:'LLL'}}
        </div>
        <div>
            <span><b>Дата рождения:</b></span>
            {{person.birthday | amUtc | amLocal | amDateFormat:'LL'}}
        </div>
        <div>
            <div ng-show="show_email === true"><b>E-mail:</b> {{person.email}}</div>
            <div ng-show="show_telephone === true"><b>Телефон:</b> {{person.telephone}}</div>
        </div>
        <div>
            <span class="md-body-2">Рейтинг:</span> {{person.rating}}
        </div>
    </div>

    <md-divider></md-divider>
    <div style="padding-top: 15px">
        <div class="md-subhead">Вопросы пользователя</div>
            <div ng-repeat="question in person.questions">
               <question-list-item item="question"></question-list-item>
            </div>
    </div>
    <md-divider></md-divider>
    <div style="padding-top: 15px">
        <div class="md-subhead">Ответы пользователя</div>
        <div ng-repeat="ans in person.answers">
            <answer-lite a ="ans"></answer-lite>
        </div>
    </div>
</div>