<div class="md-body-1" layout="column">
  <div layout="row">
    <div flex="flex" class="main-view-here">
      <div layout-margin >
        <article>
          <div class="md-title">{{question.title}}</div>
          <div class="md-caption ws-author" style="padding-left:10px;" ui-sref="person({id: question.person.id})">{{question.person.name}} {{question.person.surname}}</div>
          <div class="md-caption" style="padding-left:10px;">{{question.created | amUtc | amLocal | amDateFormat:'YYYY-MM-DD'}}</div>
          <div class="md-body-1 ws-body" ng-bind-html="question.body"></div>
        </article>
        <div layout="column" layout-padding="50px">
          <div class="md-body-2">
            <md-divider></md-divider>Ответы
          </div>
          <div ng-repeat="ans in question.answers">
            <answer ans="ans">{{$index+1}}.</answer>
          </div>
          <answer-create></answer-create>
        </div>
      </div>
    </div>
  </div>
</div>