<div class="md-body-1 main-view" layout="column">
  <md-content class="main-view-here">
    <div flex="flex" layout-margin >
      <div ng-repeat="question in mc.questions">
        <!--<question question="question"></question>-->


        <article layout="column" >
          <header class="md-title question-title" ui-sref="question({id : question.id})">{{question.title}}</header>
          <div class="md-caption">
            <div class="ws-author" ui-sref="person({id: mc.question.person.id})">
              {{question.person.name}}
              {{question.person.surname}}
            </div>
            {{question.created | amUtc | amLocal | amDateFormat:'LLL'}}</div>
          <div class="md-body-1 ws-body" ng-bind-html="question.body | limitTo: 350 | fpreview">
          </div>
        </article>
      </div>
    </div>
  </md-content>
</div>