.footer-bottom
    .col-md-3
    .links.col-md-2.col-sm-4.col-xs-4
        h3 Навигация
        ul.list-unstyled
            li
                a(href='/') Главная
            li
                a(href='/seminars') Семинары
            li
                a(href='/signup') Регистрация
            li
                a(href='/about') О нас

    .links.col-md-2.col-sm-4.col-xs-4
        h3 Ссылки
        ul.list-unstyled
            li
                a(href='#') Ссылка 1
            li
                a(href='#') Ссылка 2
            li
                a(href='#') Ссылка 3
    .links.col-md-2.col-sm-4.col-xs-4
        h3 Реклама
        ul.list-unstyled
            li
                a(href='#') Ссылка 1
            li
                a(href='#') Ссылка 2
            li
                a(href='#') Ссылка 3
    .col-md-3
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='./scripts/bootstrap.min.js')