.footer-bottom
    .col-md-3
    .links.col-md-2
        ul.list-unstyled
            li
                a(href='/') Главная
            li
                a(href='/seminars') Семинары
            li
                a(href='/signup') Регистрация
            li
                a(href='/about') О нас

    .links.col-md-2
        ul.list-unstyled
            li
                a(href='#') Ссылка 1
            li
                a(href='#') Ссылка 2
            li
                a(href='#') Ссылка 3
    .links.col-md-2
        ul.list-unstyled
            li
                a(href='#') Ссылка 1
            li
                a(href='#') Ссылка 2
            li
                a(href='#') Ссылка 3
    .col-md-3