nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')

                    //img.img-responsive(src='http://localhost:3000/images/law-brand.png')
                    | Название


            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(id='nav-index' ,href='/')
                            | Главная
                    li
                        a(id='nav-seminars', href='/seminars') Семинары
                    li
                        a(id='nav-resources', href='/resources') Ресурсы
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | Еще
                            span.caret
                        ul.dropdown-menu
                            li
                                a(id='link-test1', href='/test1') Тест 1
                            li
                                a(href='#') Тест 2
                            li
                                a(href='#') Тест 3
                            li.divider(role='separator')
                            li
                                a(href='#') Тоже тест
                            li.divider(role='separator')
                            li
                                a(href='#') Хахах, это всё заглушки
                form.navbar-form.navbar-left
                    .form-group
                        input.form-control(type='text', placeholder='Введите запрос')
                    button.btn.btn-default(type='submit') Поиск
                ul.nav.navbar-nav.navbar-right
                    li
                        a(id='nav-about', href='/about') О нас
                    //li.dropdown
                    //    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    //        if !user
                    //            | Кабинет
                    //            span.caret
                    //        else
                    //            | Вы вошли как #{user.username}
                    //            span.caret
                    //    ul.dropdown-menu
                    //        if !user
                    //            li
                    //                a(href='/login') Войти
                    //            li.divider(role='separator')
                    //            li
                    //                a(href='/signup') Регистрация
                    //        else
                    //            li
                    //                a(href='/home') Кабинет
                    //            li.divider(role='separator')
                    //            li
                    //                a(href='/signout') Выйти