ul.nav.nav-tabs
    li#subnav-profile(role='presentation')
        a(href='/home/profile') Профиль
    li#subnav-messages(role='presentation')
        a(href='/home/applications') Добавить вопрос
    li#subnav-del(role='presentation')
        a(href='/test-del') Редактировать/удалить